#!/bin/sh

errorExit() {
    echo "*** $*" 1>&2
    exit 1
}

curl --silent --max-time 2 --insecure https://localhost:{{ haproxy_port }}/ -o /dev/null || errorExit "Error GET https://localhost:{{ haproxy_port }}/"
if ip addr | grep -q {{ control_vip }}; then
    curl --silent --max-time 2 --insecure https://{{ control_vip }}:{{ haproxy_port }}/ -o /dev/null || errorExit "Error GET https://{{ control_vip }}:{{ haproxy_port }}/"
fi
